.vscode
dist
node_modules
scripts

.dockerignore
.git
.gitignore
.env
.editorconfig
.idea
.nuxtrc
.prettierrc

components.json
docker-compose.yml
Dockerfile
eslint.config.mjs

coverage*
helm-charts
LICENSE
Makefile
README.md
tsconfig*