@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    /* Default border color */
    --border: 214.3 31.8% 91.4%;
    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 214.3 31.8% 91.4%;

    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Primary colors for <Button /> */
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;

    /* Used for focus ring */
    --ring: 222.2 84% 4.9%;

    /* Application warnings */
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
  }

  .dark {
    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    /* Default background color of <body />...etc */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    /* Default border color */
    --border: 217.2 32.6% 17.5%;
    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 217.2 32.6% 17.5%;

    /* Background color for <Card /> */
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    /* Primary colors for <Button /> */
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    /* Secondary colors for <Button /> */
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    /* Used for focus ring */
    --ring: 212.7 26.8% 83.9%;

    /* Application warnings */
    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
